# KiCad temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
#auto_saved_files#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
**/*-backups/
**/fp-info-cache
**/*.kicad_prl
**/*.bak
**/*~
**/*.tmp
**/*.lck
# Netlist files
*.net

# Autorouter files
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# KiCad backups
**/*-backups/*.zip
.history
*.kicad_prl

# CMake / build output
build/
**/build/
Firmware/build/
Firmware/build/**

cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Pico output
*.elf
*.uf2
*.bin
*.hex
*.map
*.dis
*.elf.map